{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Бронирования в работе</h1>

    {% if bookings %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col" style="vertical-align: top;">Номер<br>бронирования</th>
                    <th scope="col" style="vertical-align: top;">Апартамент</th>
                    <th scope="col" style="vertical-align: top;">Пользователь</th>
                    <th scope="col" style="vertical-align: top;">Дата начала</th>
                    <th scope="col" style="vertical-align: top;">Дата окончания</th>
                    <th scope="col">Подтверждение<br>арендодателя</th>
                    <th scope="col" style="vertical-align: top;">Дата создания бронирования</th>
                </tr>
            </thead>
            <tbody>
                {% for booking, username, street, house_number, apartment_number, city_name in bookings %}
                    <tr class="text-center">
                        <td>{{ loop.index }}</td>
                        <td>
                            <table class="table table-sm table-borderless mb-0">
                                <tr>
                                    <td>Город:</td>
                                    <td>{{ city_name }}</td>
                                </tr>
                                <tr>
                                    <td>Улица:</td>
                                    <td>{{ street }}</td>
                                </tr>
                                <tr>
                                    <td>Дом:</td>
                                    <td>{{ house_number }}</td>
                                </tr>
                                <tr>
                                    <td>Квартира:</td>
                                    <td>{{ apartment_number or '—' }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>{{ username }}</td>
                        <td>{{ booking.end_date.strftime('%d.%m.%Y') }}</td>
                        <td>{{ booking.end_date.strftime('%d.%m.%Y') }}</td>
                        <td class="text-center">
                            {% if booking.is_confirmed %}
                                <span class="text-success">&#10004;</span> <!-- Зеленая галочка -->
                            {% else %}
                                <span class="text-danger">&#10008;</span> <!-- Красный крестик -->
                            {% endif %}
                        </td>
                        <td class="text-center">{{ booking.create_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            Нет активных бронирований.
        </div>
    {% endif %}
</div>
{% endblock %}
