{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Доход по завершенным бронированиям</h1>

    {% if bookings %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="text-center" style="vertical-align: top;">
                    <th scope="col">Номер бронирования</th>
                    <th scope="col">Апартамент</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Дата начала</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">Доход (руб.)</th>
                    <th scope="col">Дата создания<br>бронирования</th> <!-- Новый столбец -->
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr class="text-center">
                        <td>{{ loop.index }}</td>
                        <td>
                            <table class="table table-sm table-borderless mb-0">
                                <tr><td>Город:</td><td>{{ booking.city_name }}</td></tr>
                                <tr><td>Улица:</td><td>{{ booking.street }}</td></tr>
                                <tr><td>Дом:</td><td>{{ booking.house_number }}</td></tr>
                                <tr><td>Квартира:</td><td>{{ booking.apartment_number or '—' }}</td></tr>
                            </table>
                        </td>
                        <td>{{ booking.username }}</td>
                        <td>{{ booking.booking.start_date.strftime('%d.%m.%Y') }}</td>
                        <td>{{ booking.booking.end_date.strftime('%d.%m.%Y') }}</td>
                        <td>{{ booking.income }} руб.</td> <!-- Вывод дохода -->
                        <td>{{ booking.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td> <!-- Дата создания апартамента -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            Нет завершенных бронирований.
        </div>
    {% endif %}
</div>
{% endblock %}
