.form-group {
    margin-right: 0.5rem; /* Уменьшите отступ между элементами */
}

.card-link {
    display: block;
    text-decoration: none;
    color: inherit; /* Это сохранит цвет текста */
}
.card-link:hover {
    text-decoration: none; /* Снимает подчеркивание при наведении */
}
