{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Статистика Арендодателя: {{ statistics.landlord.company_name }}</h1>
    
    {% if statistics %}
        <form method="post" action="/landlord/submit-statistics/" class="d-flex justify-content-end mb-4">
            <input type="hidden" id="landlord_id" name="landlord_id" value="{{ statistics.landlord.id }}">
            <div class="form-group mr-2">
                <label for="start_date">Начальная дата</label>
                <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date or '' }}">
            </div>
            <div class="form-group mr-2">
                <label for="end_date">Конечная дата</label>
                <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date or '' }}">
            </div>
            <button type="submit" class="btn btn-primary">Показать</button>
        </form>

        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-info mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Телеграм ID</h5>
                        <p class="card-text">{{ statistics.landlord.id }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Количество Апартаментов</h5>
                        <p class="card-text">{{ statistics.total_apartments }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Количество Бронирований в Работе</h5>
                        <p class="card-text">{{ statistics.total_pending_bookings }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">Завершенные Бронирования</h5>
                    </div>
                    <div class="card-body">
                        <p>{{ statistics.total_completed_bookings }} ₽</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">Общий Доход</h5>
                    </div>
                    <div class="card-body">
                        <p>{{ statistics.total_income }} ₽</p>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endif %}
</div>
{% endblock %}
